{% extends "base.html" %}

{% block content %}
<div class="w-100">
    <div class="wrapper">
        <div class="section section-hero section-shaped">
            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>
            <div class="page-header">
                <div class="container shape-container d-flex align-items-center py-4">
                    <div class="col px-0">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6 text-center">
                                <img src="../static/assets/img/logoWhite.png" style="width: 250px;"
                                    class="img-fluid py-0">
                                <p class="lead text-white">Desafía tu mente con nuestros juegos de ingenio y habilidad
                                </p>
                                <div class="btn-wrapper mt-2 mb-5">
                                    <a href="{{ '/gallery' if current_user.is_authenticated else url_for('auth.login') }}"
                                        class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                                        <span class="btn-inner--text">Ver productos</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>

        <section class="section section-lg">
            <div class="container">
                <div class="row row-grid justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="display-3">¿Te encantan los retos?</span></h2>
                        <p class="lead">En nuestra tienda, encontrarás una amplia variedad de rompecabezas, juegos de lógica, cubos de Rubik y otros productos similares que son perfectos para niños y adultos por igual.</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="container container-lg">
            <div class="row">
                <div class="col-md-12 mb-5 mb-lg-0">
                    <div class="card card-lift--hover shadow border-0">
                        <a href="" title="Profile Page">
                            <img src="https://www.gamesver.com/wp-content/uploads/2022/03/boy-playing-with-the-Rubiks-Cube.jpg.webp" class="card-img">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 mb-5 mb-lg-0 pt-4">
                    <div class="card card-lift--hover shadow border-0">
                        <a href="" title="Profile Page">
                            <img src="https://raven.contrado.app/resources/images/2022-10/207235/customized-christmas-puzzle1509314_l.jpg?w=700&h=700&auto=format&fit=crop" class="card-img">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 mb-5 mb-lg-0 pt-4">
                    <div class="card card-lift--hover shadow border-0">
                        <a href="" title="Profile Page">
                            <img src="https://i.etsystatic.com/21496196/r/il/493457/2130181139/il_fullxfull.2130181139_pxjd.jpg" class="card-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section features-1 pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto text-center">
                        <span class="badge badge-primary badge-pill mb-3">Brainbox</span>
                        <h3 class="display-3">Nuestra compañia</h3>
                        <p class="lead">Ha llegado el momento de pensar, y que mejor nuestros productos</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                                <i class="ni ni-settings-gear-65"></i>
                            </div>
                            <h6 class="info-title text-uppercase text-primary">Productos de calidad</h6>
                            <p class="description opacity-8">En cuanto a la calidad, seleccionamos cuidadosamente los productos que ofrecemos en nuestra tienda para garantizar que cumplen con los estándares más altos.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
                                <i class="ni ni-atom"></i>
                            </div>
                            <h6 class="info-title text-uppercase text-success">Servicio rapido y eficaz</h6>
                            <p class="description opacity-8">Nos esforzamos por ofrecer un servicio eficaz y satisfactorio a todos nuestros clientes. Sabemos que tu tiempo es valioso, por lo que nos aseguramos de que tu experiencia de compra sea rápida y facil.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
                                <i class="ni ni-shop"></i>
                            </div>
                            <h6 class="info-title text-uppercase text-warning">Nuestras tiendas</h6>
                            <p class="description opacity-8">En Brainbox, ofrecemos una experiencia de compra conveniente y de calidad tanto en línea como en tiendas físicas, para que puedas encontrar el producto adecuado para ti.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer has-cards">
            <div class="container">
                <div class="row row-grid align-items-center my-2">
                    <div class="col-lg-12">
                        <h3 class="text-primary font-weight-light mb-2">¡Gracias por su visita!</h3>
                    </div>
                </div>
                <hr>
                <div class="row align-items-center justify-content-md-between">
                    <div class="col-md-12">
                        <div class="copyright text-right">
                            &copy; 2023 <a href="" target="_blank">Brainbox</a>. 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </footer>
    </div> 
</div> 
{% endblock %}