{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ messages[-1] }}
      </div>
      {% endif %}
    {% endwith %}


    <div class="d-flex align-items-center justify-content-center py-5">
        <h2>Gestion de Productos</h2>
        <a href="register"  class="btn btn-success mx-3"> Agregar </a>
    </div>
    <div class="d-flex align-items-center justify-content-center">
    <table class="m-3 table table-borderless"">
        
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Costo</th>
                <th scope="col">Estatus</th>
                <th scope="col">Acciones</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for p in products %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.describe }}</td>
                    <td>{{ p.cost }}</td>
                    {% if p.active == 1 %}
                    <td>Activo</td>
                    {% else %}
                    <td>Inactivo</td>
                    {% endif %}
                    
                    <td><a href="delete?id={{ p.id }}"
                        class="btn btn-danger"> Eliminar
                        </a>
                    </td>
                    <td><a href="update?id={{ p.id }}"
                        class="btn btn-warning">Modificar
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}